.card {
  align-items: flex-start;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 280px;
  justify-content: flex-start;
  text-decoration: none;
  width: 180px;
}

.card img {
  height: 100px;
  margin: 20px 40px;
  width: 100px;
}

.card h4 {
  margin-left: 10px;
  overflow: auto;
}

.card h6 {
  margin-left: 10px;
  overflow: auto;
}
