.tracks {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 600px;
}

.favorita {
  width: 80px;
}

.track-space {
  align-items: center;
  display: flex;
  height: 54px;
  justify-content: center;
  width: 600px;
}
